<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Edit Formal Interview</title>
    <link rel="canonical" href="https://bailabollywood.com<%=requestUrl%>">
    <script src="//cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
  </head>
  <body>
    
      <div style="margin-top: 50px; margin-bottom: 50px;">
    <h1 style="color:skyblue;" class="text-center">ADD INFROMATION FOR Bollywood News</h1>
</div>
      
      <div class="container">
    <form action="/canal-bollywood/posts/<%=bnews._id%>?_method=PUT" method="POST">
        <div class="input-group input-group-lg">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
              
              name="bnews[title]"
              value="<%=bnews.title%>"
              placeholder="Enter Your Title">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="bnews[image]"  
            value="<%=bnews.image%>"
                placeholder="Enter Image URL">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="bnews[thumbnail]"  
            value="<%=bnews.thumbnail%>"
                placeholder="Enter Thumbnail URL">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="bnews[category]" 
            value="<%=bnews.category%>"
            required 
                placeholder="Enter Categroy-e.g.Bollywood , Hollywood , Tollywood">
                
          </div>
          
          <p>Enter Category Above TextArea</p>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="bnews[newsModel]"  
            value="<%=bnews.newsModel%>"
                placeholder="Enter News Model Name if any">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="bnews[uploader]"  
            value="<%=bnews.uploader%>"
                placeholder="Enter uploader Name">
          </div>
          
          <div class="form-group mt-5">
            <label for="editor">Enter Your Content Here:</label>
            <textarea 
            name="bnews[content]"
            class="form-control"  rows="9"
            value="<%=bnews.content%>"
            id='editor'  type="text"  ></textarea>
            
          </div>
          <button type="submit" class="btn btn-primary">Publish</button>
        </form>
        </div>
        <script>
            CKEDITOR.replace('editor');
            </script>

    </body>
</html>
